<div class="author-bio" itemscope itemtype="https://schema.org/Person">
  <img src="{{ "/images/elena-vasquez.jpg" | relURL }}" alt="{{ .Site.Params.author }}" class="author-photo" width="80" height="80">
  <div class="author-info">
    <p class="author-name">Written by <a href="{{ "/about/elena-vasquez/" | relURL }}" itemprop="url"><span itemprop="name">{{ .Site.Params.author }}</span></a></p>
    <p class="author-title" itemprop="jobTitle">{{ .Site.Params.authorTitle }}</p>
    <p class="author-desc">Elena has visited 80+ countries over 15 years and specializes in helping travelers find the perfect time to visit their dream destinations.</p>
  </div>
</div>
