<div class="author-bio" itemscope itemtype="https://schema.org/Person">
  <div class="author-bio__avatar">
    <span>EV</span>
  </div>
  <div class="author-bio__content">
    <p class="author-bio__label">Written by</p>
    <p class="author-bio__name">
      <a href="{{ with .Site.GetPage "/about/elena-vasquez" }}{{ .RelPermalink }}{{ end }}" itemprop="url">
        <span itemprop="name">{{ .Site.Params.author }}</span>
      </a>
    </p>
    <p class="author-bio__title" itemprop="jobTitle">{{ .Site.Params.authorTitle }}</p>
    <p class="author-bio__desc">Elena has visited 80+ countries over 15 years and specializes in helping travelers find the perfect time to visit their dream destinations.</p>
  </div>
</div>
